.section-consortium{
    background-color: $color-primary20;
    padding-top: 280px;
    padding-bottom: 280px;
    position: relative;
    overflow: hidden;
    &--white{
        background-color: $color-primary;
    }
    
    @include max-xl{
        padding-top: 210px;
        padding-bottom: 160px;
    }
    @include max-md{
        padding-top: 100px;
        padding-bottom: 180px;
    }
    h3{
        font-size: 18px;
        line-height: normal;
        margin-bottom: 5px;
        color: $color-primary3;
        font-family: $fontJura;
        font-weight: bold;
        @include max-xl{
            font-size: 14px;
            margin-bottom: 3px;
        }
        @include max-md{
            font-size: 12px;
            margin-bottom: 8px;
        }
        .body--white & {
            color: $color-primary3;
        }
    }
    h2{
        font-size: 74px;
        line-height: normal;
        margin-bottom: 0;
        color: $color-primary;
        font-family: $fontJura;
        font-weight: normal;
        @include max-xl{
            font-size: 42px;
        }
        @include max-md{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .body--white & {
            color: $color-primary5;
        }
    }
    &-divInfoCima{
        margin-top: 90px;
        margin-bottom: 110px;
        position: relative;
        @include max-xl{
            margin-top: 65px;
        }
        @include max-md{
            margin-top: 30px;
            margin-bottom: 80px;
        }
        h3{
            font-size: 30px;
            line-height: 39px;
            color: $color-primary;
            font-weight: 500;
            letter-spacing: 0.3px;
            margin-bottom: 2rem;
            @include max-xl{
                font-size: 20px;
                line-height: 22px;
                letter-spacing: 0.2px;
            }
            @include max-md{
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.18px;
            }
            .body--white & {
                color: $color-primary3;
            }
        }
        p{
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.3px;
            color: $color-primary;
            @include max-xl{
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.2px;
            }
            @include max-md{
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.18px;
            }
            .body--white & {
                color: $color-default;
            }
        }
        ul{
            list-style: none;
            margin-bottom: 2rem;
            li{
                font-size: 24px;
                line-height: 30px;
                letter-spacing: 0.3px;
                color: $color-primary;
                margin-top: 17px;
                @include max-xl{
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.2px;
                }
                @include max-md{
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.18px;
                }
                .body--white & {
                    color: $color-default;
                }
                &:before{
                    content: "\2022";
                    color: $color-primary3;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
        a{
            color: $color-primary3;
            text-decoration: none;
        }
    }

    &-tabela{
        padding: 53px 0 110px 47px;
        border-left: solid 1px $color-primary6;
        transition: border 300ms ease-out;
        position: relative;
        margin-bottom: 0px;
        @include max-xl{
            padding: 35px 0 73px 30px;
        }
        @include max-md{
            padding: 18px 0 40px 19px;
        }
        @include max-sm{
            width: calc(100% - 25px);
            margin-left: 0;
            margin-right: 5px;
            & > div {
                position: relative;
            } 
        }
        .body--white & {
            border-left-color: $color-primary15;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
        &::before{
            content: "";
            position: absolute;
            left: -53px;
            bottom: 53px;
            width: calc(614px + 53px + 47px + 53px);
            border-bottom: solid 1px $color-primary6;
            transition: border 300ms ease-out;
            @include max-xl{
                left: -35px;
                bottom: 35px;
                width: calc(436px + 35px + 30px + 35px);
            }
            @include max-md{
                left: 0;
                bottom: 18px;
                width: calc(234px + 18px + 19px + 18px);
            }
            .body--white & {
                border-bottom-color: $color-primary15;
            }
        }
        &:hover{
            border-left: solid 1px $color-primary3;
            &::before{
                border-bottom: solid 1px $color-primary3;
            }
        }
        &-name{
            font-size: 17px;
            line-height: 20px;
            font-weight: bold;
            color: $color-primary3;
            margin-bottom: 9px;
            @include max-xl{
                font-size: 13px;
                margin-bottom: 8px;
            }
            @include max-md{
                font-size: 10px;
                margin-bottom: 0;
            }
        }
        &-title{
            font-size: 32px;
            line-height: 36px;
            color: $color-primary;
            margin-bottom: 13px;
            font-weight: 400;
            max-width: 760px;
            @include max-xl{
                font-size: 28px;
                line-height: 32px;
                max-width: 500px;
            }
            @include max-md{
                font-size: 20px;
                line-height: 24px;
            }
            .body--white & {
                color: $color-primary5;
            }
        }
        
        @include max-md{
            &-button {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        div > p {
            color: $color-primary;
            max-width: 614px;
            @include max-xl{
                max-width: 436px;
            }
            .body--white & {
                color: $color-primary11;
            }
        }
        button{
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 0.99px;
            color: $color-primary3;
            padding: 0;
            background: none;
            box-shadow: none;
            background-color: transparent;
            border: none;
            transition: font-weight 300ms ease-out;
            &:hover{
                font-weight: bold;
            }

        }
        .icon-arrow{
            &::before{
                font-size: 10px;
            }
        }
        .list__social{
            margin-top: 35px;
            @include max-xl{
                margin-top: 30px;
            }
            @include max-md{
                margin-top: 20px;
            }
            a{
                margin-right: 15px;
                color: $color-primary;
                .body--white &{
                    color: $color-primary11;
                }
            }
        }
    }
}
.body--white{
    .modal-backdrop {
        background-color: $color-primary;
    }
}
.modal-consortium{
    &.show{
        .modal-dialog{
            top: 50%;
            transform: translateY(-50%);
            @include max-md{
                transform: none;
                top: unset;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
    .modal-header{
        .close{
            background-color: transparent;
            border: 0
        }
    }
    .modal-dialog{
        max-width: 990px;
        @include max-xl{
            max-width: 940px;
        }
        .modal-content{
            border-radius: 0;
            backdrop-filter: blur(9px);
            box-shadow: 12px 12px 35px 0 rgba(0, 0, 0, 0.3);
            border: solid 0.5px $color-primary8;
            background-color: rgba(253, 253, 253, 0.1);
            .modal-header{
                padding-top: 50px;
                padding-right: 60px;
                padding-bottom: 44px;
                border: none;
                @include max-xl{
                    padding-top: 37px;
                    padding-bottom: 34px;
                }
                @include max-md{
                    padding-top: 20px;
                    padding-right: 20px;
                    padding-bottom: 2px;
                }
                button{
                    padding: 0;
                    opacity: 1;
                    text-shadow: none;
                    margin: 0 0 0 auto;
                    &::before{
                        font-size: 18px;
                        @include max-md{
                            font-size: 16px;
                        }
                    }
                }
            }
            .modal-body{
                padding: 0 70px 110px 107px;
                display: flex;
                @include max-xl{
                    padding: 0 63px 85px 70px;
                }
                @include max-md{
                    padding: 0 25px 40px 25px;
                    flex-direction: column;
                }
                .div-social{
                    margin-right: 54px;
                    position: relative;
                    @include max-md{
                        margin-right: 0;
                    }

                    &-scroll{
                        max-height: 575px;
                        overflow-y: auto;
                        padding-right: 47px;
                        @include max-xl{
                            max-height: 535px;
                        }
                        @include max-md{
                            max-height: unset;
                            overflow-y: auto;
                            padding-right: 0;
                        }
                        &::-webkit-scrollbar {
                            width: 1px;
                        }
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 5px $color-primary10;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: $color-primary5;
                        }
                    }
                    img{
                        max-width: 155px;
                        margin-bottom: 44px;
                        @include max-md{
                            margin-bottom: 30px;
                        }
                    }
                    &-people{
                        font-size: 14px;
                        line-height: normal;
                        font-weight: bold;
                        color: $color-primary3;
                        margin-bottom: 15px;
                    }
                    &-person{
                        margin-bottom: 20px;
                        @include max-md{
                            display: inline-block;
                            max-width: 45%;
                            margin-right: 10px;
                        }
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 14px;
                            line-height: 14px;
                            color: $color-primary;
                            margin-bottom: 10px;
                            @include max-md{
                                font-size: 12px;
                            }
                            .body--white & {
                                color: $color-primary11;
                            }
                            &:first-of-type{
                                font-size: 16px;
                                line-height: 14px;
                                color: $color-primary;
                                margin-bottom: 4px;
                                font-weight: bold;
                                @include max-md{
                                    font-size: 14px;
                                }
                                .body--white & {
                                    color: $color-primary5;
                                }
                            }
                        }
                        a{
                            text-decoration: none;
                            display: inline-block;
                            margin-right: 15px;
                            @include max-md{
                                margin-right: 8px;
                            }
                            
                            &:last-of-type{
                                margin-right: 0;
                            }
                            &:hover{
                                span{
                                    &::before{
                                        color: $color-primary3;
                                        .body--white & {
                                            color: $color-primary3;
                                        }
                                    }
                                }
                            }
                            span{
                                &::before{
                                    color: $color-primary;
                                    font-size: 14px;
                                    .body--white & {
                                        color: $color-primary11;
                                    }
                                }
                            }
                        }
                    }
                    &__social{
                        display: flex;
                        margin-top: 45px;
                        flex-direction: column;
                        @include max-md{
                            justify-content: center;
                            flex-direction: row;
                        }
                        a{
                            margin-top: 16px;
                            text-decoration: none;
                            color: $color-primary5;
                            .body--white & {
                                color: $color-primary5;
                            }
                            @include max-md{
                                margin: 0 15px 15px;
                            }
                            &:hover{
                                color: $color-primary3;
                            }
                            &:first-of-type{
                                margin-top: 0;
                                &:before{
                                    @include max-md{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                    }
                }
                .div-info{
                    &-scroll{
                        max-height: 430px;
                        overflow-y: auto;
                        margin-bottom: 90px;
                        padding-right: 67px;
                        @include max-xl{
                            max-height: 410px;
                            margin-bottom: 70px;
                        }
                        @include max-md{
                            max-height: unset;
                            overflow-y: auto;
                            padding-right: 0;
                            margin-bottom: 34px;
                        }
                        &::-webkit-scrollbar {
                            width: 1px;
                        }
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 5px $color-primary10;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: $color-primary5;
                        }
                    }
                    &-name{
                        font-size: 14px;
                        line-height: normal;
                        color: $color-primary3;
                        margin-bottom: 4px;
                        @include max-xl{
                            margin-bottom: 10px;
                        }
                        @include max-md{
                            font-size: 12px;
                            margin-bottom: 2px;
                        }
                    }
                    &-title{
                        font-size: 24px;
                        line-height: normal;
                        color: $color-primary;
                        margin-bottom: 20px;
                        font-weight: bold;
                        @include max-md{
                            font-size: 20px;
                            line-height: 24px;
                        }
                        .body--white & {
                            color: $color-primary5;
                        }
                    }
                    &-text{
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: 0.18px;
                        color: $color-primary13;
                        margin-bottom: 0;
                        a {
                            color: $color-primary3;
                            &:hover {
                                color: $color-primary5;
                            }
                        }
                    }
                    .btn-type{
                        // padding-right: 49px;
                        padding: 14px 36px 14px 16px;
                        // display: flex;
                        // align-items: center;
                        @include max-md{
                            margin-bottom: 50px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        span{
                            position: relative;
                            &::before{
                                position: absolute;
                                right: -24px;
                                top: -3px;
                                font-size: 10px;
                                color: $color-primary5;
                            }
                        }
                    }
                }
                .div-social{
                    min-width: 160px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    @include max-md{
                        padding-bottom: 35px;
                    }
                    &-person-scroll{
                        max-height: 430px;
                        overflow-y: auto;
                        margin-bottom: 50px;
                        padding-right: 67px;
                        @include max-xl{
                            max-height: 410px;
                            margin-bottom: 30px;
                        }
                        @include max-md{
                            max-height: unset;
                            overflow-y: auto;
                            padding-right: 0;
                            margin-bottom: 14px;
                        }
                        &::-webkit-scrollbar {
                            width: 1px;
                        }
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 5px $color-primary10;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: $color-primary5;
                        }
                    }
                }
                .div-social-people{
                    margin-bottom: 8px;
                }
                .div-social-person{
                    max-width: none;
                    p{
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

