.section-privacyPolicy{
    background-color: $color-primary20;
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    overflow: hidden;
    @include max-xl{
        padding-top: 160px;
        padding-bottom: 160px;
    }
    @include max-md{
        padding-top: 120px;
        padding-bottom: 100px;
    }
    &--white{
        background-color: $color-primary;
    }
    h3{
        font-size: 18px;
        line-height: normal;
        margin-bottom: 5px;
        color: $color-primary3;
        font-family: $fontJura;
        font-weight: bold;
        @include max-xl{
            font-size: 14px;
            margin-bottom: 3px;
        }
        @include max-md{
            font-size: 12px;
            margin-bottom: 8px;
        }
        .body--white & {
            color: $color-primary3;
        }
    }
    h2{
        font-size: 74px;
        line-height: normal;
        margin-bottom: 0;
        color: $color-primary;
        font-family: $fontJura;
        font-weight: normal;
        @include max-xl{
            font-size: 42px;
        }
        @include max-md{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .body--white & {
            color: $color-primary5;
        }
    }
	&-divInfoCima{
        margin-top: 60px;
        margin-bottom: 36px;
        position: relative;
        @include max-xl{
            margin-top: 45px;
        }
        @include max-md{
            margin-top: 30px;
        }
        p{
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.3px;
            color: $color-primary;
            @include max-xl{
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.2px;
            }
            @include max-md{
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.18px;
            }
            .body--white & {
                color: $color-primary11;
            }
        }
        ul{
            list-style: none;
            margin-bottom: 2rem;
            li{
                font-size: 24px;
                line-height: 30px;
                letter-spacing: 0.3px;
                color: $color-primary;
                margin-top: 17px;
                @include max-xl{
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.2px;
                }
                @include max-md{
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.18px;
                }
                .body--white & {
                    color: $color-default;
                }
                &:before{
                    content: "\2022";
                    color: $color-primary3;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
        a{
            color: $color-primary3;
            text-decoration: none;
        }
    }
	&-info{
		.note{
			margin-bottom: 36px;
			@include max-xl{
				margin-bottom: 50px;
			}
			@include max-md{
				margin-bottom: 22px;
			}
			p{
				font-size: 18px;
				line-height: 30px;
				color: $color-primary11;
				font-weight: 300;
				margin-bottom: 0;
				@include max-xl{
					font-size: 16px;
					line-height: 23px;
				}
				@include max-md{
					font-size: 12px;
					line-height: 18px;
				}
				&:first-of-type{
					font-size: 24px;
					line-height: 30px;
					letter-spacing: 0.3px;
					color: $color-primary3;
					font-weight: normal;
					@include max-xl{
						letter-spacing: 0.2px;
						font-size: 16px;
						line-height: 23px;
					}
					@include max-md{
						letter-spacing: 0.15px;
						font-size: 12px;
						line-height: 18px;
					}
				}
			}
			
		}
		.question{
			font-size: 24px;
			line-height: 30px;
			letter-spacing: 0.3px;
			color: $color-primary5;
			display: inline-flex;
			margin-bottom: 30px;
			padding-left: 52px;
			position: relative;
			@include max-xl{
				font-size: 18px;
				line-height: 25px;
				letter-spacing: 0.23px;
				margin-bottom: 15px;
			}
			@include max-md{
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0.18px;
				padding-left: 35px;
			}
			span{
				position: absolute;
				top: 0;
				left: 0;
				color: $color-primary3;
				@include max-xl{
					font-size: 18px;
					line-height: 30px;
				}
				@include max-md{
					font-size: 16px;
					line-height: 30px;
				}
			}
		}
		.answer{
			padding-left: 52px;
			&:last-of-type{
				margin-bottom: 40px;
			}
			p,
			li {
				font-size: 18px;
				line-height: 30px;
				letter-spacing: 0.23px;
				color: $color-primary2;
				font-family: $fontJura;
				font-weight: 300;
				@include max-xl{
					font-size: 14px;
					line-height: 21px;
					letter-spacing: 0.18px;
				}
				@include max-md{
					font-size: 9px;
					line-height: 14px;
					letter-spacing: 0.11px;
				}
			}
			a{
				color: $color-primary2;
				text-decoration: underline;
			}
			ul,
			ol{
				li:not(:last-child){
					margin-bottom: 4px;
				}
			}
		}
	}
}


.section-cookiesPolicy{
	position: relative;
	.ball{
		background-image: linear-gradient(to bottom, $color-primary5 0%, rgba(255, 107, 0, 0));
	}
	.ball1{
		width: 300px;
		height: 300px;
	}
	.img-lines{
		width: 30px;
		margin-left: -30px;
		@include max-md{
			width: 20px;
			margin-left: 12px;
		}
	}
	.section-privacyPolicy-info{
		.answer-bullets{
			p{
				margin-bottom: 20px;
				span{
					font-weight: 500;
					display: initial;
					margin: 0;
				}
			}
		}
		.answer-table{
			border: 0.5px solid #979797;
			display: flex;
			margin-left: 13px;
			margin-bottom: 24px;
			@include max-md{
				flex-direction: column;
				margin-left: 9px;
			}
			div{
				border-right: 0.5px solid #979797;
				@include max-md{
					display: flex;
					border-bottom: 0.5px solid #979797;
					border-right: none;
				}
				&:last-of-type{
					border-right: none;
					border-bottom: none;
				}
				p{
					margin: 0;
					padding: 22px 28px;
					border-bottom: 0.5px solid #979797;
					font-size: 14px;
					line-height: normal;
					letter-spacing: 0.18px;
					font-weight: 500;
					@include max-xl{
						font-size: 10px;
						letter-spacing: 0.13px;
						padding: 14px 14px;
					}
					@include max-md{
						font-size: 9px;
						letter-spacing: 0.11px;
						border-bottom: none;
						border-right: 0.5px solid #979797;
						min-width: 80px;
					}
					&:last-of-type{
						padding-top: 22px;
						border-bottom: none;
						font-size: 12px;
						letter-spacing: 0.15px;
						font-weight: 300;
						@include max-xl{
							font-size: 9px;
							letter-spacing: 0.11px;
							padding: 14px 14px;
						}
						@include max-md{
							font-size: 8px;
							letter-spacing: 0.1px;
							border-right: none;
						}
					}
				}
			}
		}
	}
}